.jumbotron5 {
    height: 500px;
    background-image: url(multimedia/apartment-53.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        color: $color3;
        text-shadow: 3px 2px 9px $color4;
        @include animacion;
    }
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;

    p {
        font-size: 20px;
    }
}

#contact-form, .contact-info {
    background-color: rgb(249, 249, 249);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.titulos {
    margin-bottom: 20px;
}

#contact-form {
    .form-group {
        margin-bottom: 20px;
    }

    .btn {
        background-image: linear-gradient(to left, $color2, $color1);

        &:hover {
            box-shadow: 0 0 10px rgb(125, 95, 95);
        }
    }
}