@media only screen and (min-width: 768px) and (max-width: 992px) {
    .refugio p,
    .ubicacion p {
        font-size: 22px;
    }
}

@media only screen and (max-width: 768px) {
    .sobre-nosotros p, .huerta p, .cocina p {
        font-size: 20px;
    }

    .sobre-nosotros p {
        margin-bottom: 5px;
    }

    .alimentos {
        margin-top: 10px;
    }

    .refugio p,
    .mapa p {
        font-size: 20px;
    }

    footer {
        flex-direction: column;
        text-align: center;

        p {
            margin-top: 12px;
        }
    }

    .logo, .redes {
        margin: auto;
    }

    .redes a {
        margin: 0 5px;
    }

    .degradado, .title-huerta, .titulog, .card-title {
        font-size: 22px;
    }

    .accordion-header {

        .accordion-button {
            font-size: 22px;
        }
    }

    .accordion-body{
        font-size: 18px;
    }

    .whatsapp, .subir {
        right: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    section {
        flex-direction: column;

        .standard p,
        .deluxe p,
        .suite p {
            font-size: 20px;
            margin: 30px;
        }

        .standard h2,
        .deluxe h2,
        .suite h2 {
            font-size: 26px;
        }

        .imgh1,
        .imgh2,
        .imgh3 {
            margin: 0 auto;
            margin-top: 20px;
            max-width: 80%;
            width: auto;
        }

        .standard i,
        .deluxe i,
        .suite i {
            margin-bottom: 20px;
            font-size: 22px;
        }

        .standard,
        .deluxe,
        .suite {
            padding-top: 25px;
        }
    }
}

@media only screen and (min-width: 480px) {
    .card-header {
        max-height: 450px;
    }
}

@media only screen and (min-width: 768px) {
    .contenedor1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .card-header {
        overflow: hidden;
    }

    .card {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        &-body {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
    }

    .card-description {
        font-size: 20px;
    }
}

@media only screen and (min-width: 480px) {
    .galeria {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
}

@media only screen and (min-width: 1024px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 200px);

        .item1 {
            grid-column: 1/2;
            grid-row: 1/3;
        }

        .item2 {
            grid-column: 2/3;
            grid-row: 1/2;
        }

        .item3 {
            grid-column: 3/5;
            grid-row: 1/2;
        }

        .item4 {
            grid-column: 2/3;
            grid-row: 2/4;
        }

        .item5 {
            grid-column: 3/4;
            grid-row: 2/3;
        }

        .item6 {
            grid-column: 4/5;
            grid-row: 2/3;
        }

        .item7 {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        .item8 {
            grid-column: 3/5;
            grid-row: 3/4;
        }
    }
}

@media only screen and (max-width: 992px) {
    .contacto {
        flex-direction: column-reverse;
    }

    .contact-info {
        margin-bottom: 30px;
    }

    .container p {
        font-size: 16px;
    }
}