.jumbotron2 {
    height: 500px;
    background-image: url(multimedia/bedroom-5772.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-size: 36px;
        text-shadow: 3px 2px 9px rgb(125, 95, 95);
        margin-top: 30px;
        @include animacion;
    }
}

.sobre-nosotros {
    h2 {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
    }

    p {
        font-size: 25px;
        text-align: center;
        margin: 30px;
    }
}

.huerta p,
.cocina p {
    font-size: 25px;
    text-align: center;
    margin: 30px;
}

.nuestra-huerta {
    background-color: $color1;
}

.manzanas {
    background-image: url(multimedia/apples.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.title-huerta {
    @include degradado;
    background-image: linear-gradient(to right, rgb(162, 162, 162), rgb(212, 212, 212));
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 40px;
}

.alimentos {
    background-image: url(multimedia/vegetables.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cocina h2 {
    margin-left: 30px;
    margin-right: 30px;
}